:root {
    --primary-color:#F3F5FC;
    --secondary-color: #356EA9;
    --terceary-color: #ADB5BD;
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: var(--primary-color);
}

.estrutura {
    display: flex;
}

.principal {
    display: flex;
    flex-direction: column;
}

